@font-face {
    font-family: 'KG Second Chances Sketch';
    src: url(../Lettertypes/KGSecondChancesSketch.ttf);
}

@font-face {
    font-family: 'Leorio';
    src: url(../Lettertypes/Leorio.ttf);
}

body
{
    margin: 0px;
    padding: 0px;
}

header
{
    text-align: center;
    background-color: #48577B;
}

header nav ul
{
    margin: 0px;
    padding: 0px;
    list-style: none;
    color: #48577B;
    display: flex;
	float: inline;
}

.ul
{
    margin-top: 5px;
    margin-bottom: 50px;
    float: left;
}

header nav ul li
{
    background-color:#E9AB2F;
    display: block;
	float: inline;
    padding: 20px;
    margin-left: 0px;
    display: inline-block;
}

header ul li ul
{
    display: none;
    position: absolute;
}

header ul li:hover ul
{
    display: block;
}

header nav ul li ul li {
	display: block;
    width: 110px;
}

header nav ul li a
{
    color: #ffffff;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    display: block;
}

header nav ul li a:hover
{
    color: #48577B;
}

.actief
{
    background-color: #A93E3E;
}

img
{
    margin-bottom: 10px;
    padding-right: 980px;
    height: 50px;
}

h1
{
    color: #E9AB2F;
    font-family: 'KG Second Chances Sketch';
    font-size: 48px;
    text-align: center;
}

p
{
    font-family: 'Leorio';
    font-size: 20px;
}

.main
{
    margin: 100px;
    padding: 0px;
    background-color: #ffffff;
    height: 900px;
}

footer
{
    margin-top: 10px;
    height: 100px;
}

.footer
{
    padding-top: 25px;
    text-align: center;
    height: 50px;
    background-color: #48577B;
    color: white;
}